# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Daniel Villarroel Moraga - 202073028-8
* Luis  2 - Rol-2
* Álvaro Gaete Castillo - 202021003-9

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\darmitho\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: traitlets>=5 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\darmitho\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: pickleshare in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (49.2.1)
Requirement already satisfied: jedi>=0.16 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Collecting ipython-genutils>=0.1.0
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: traitlets>=5 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: wcwidth in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.35-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp39-cp39-win_amd64.whl (101 kB)
Requirement already satisfied: pure-eval in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: six in c:\users\darmitho\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.15.0)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: greenlet, sqlalchemy, prettytable, ipython-genutils, ipython-sql
    Running setup.py install for prettytable: started
    Running setup.py install for prettytable: finished with status 'done'
Successfully installed greenlet-1.1.2 ipython-genutils-0.2.0 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.35

WARNING: You are using pip version 20.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\darmitho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: sqlalchemy in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (1.4.35)

WARNING: You are using pip version 20.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\darmitho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\darmitho\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

WARNING: You are using pip version 20.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\darmitho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
Using legacy 'setup.py install' for names, since package 'wheel' is not installed.
Installing collected packages: names
    Running setup.py install for names: started
    Running setup.py install for names: finished with status 'done'
Successfully installed names-0.3.0

WARNING: You are using pip version 20.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\darmitho\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Jackirma1@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:Jackirma1@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="Jackirma1"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001A7CEEDE460; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [42]:
%%sql

CREATE TABLE Usuarios (
    ID_usuario integer GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
    )

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Creadores"

In [43]:
%%sql
CREATE TABLE Creadores(
    ID_creador INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [44]:
%%sql
CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(20) NOT NULL 
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [45]:
%%sql
CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [46]:
%%sql
CREATE TABLE PRECIO_NFT(
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,
    PRIMARY KEY (ID_nft,fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [47]:
%%sql
CREATE TABLE usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario,id_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT (id_nft)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [47]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [5]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso es el ID del creador y su nombre, luego agregamos una condicional de que el Estilo debe ser X, que en este caso en particular
le pusimos Anime (dicho valor puede ser cambiado), y luego agregamos que la popularidad debe ser la máxima encontrada gracias a la función MAX, para que finalmente nos dé el valor con 
mayor popularidad. Finalmente, ponemos solo el primer elemento encontrado gracias al limit 1.*/

SELECT
    ID_creador, nombre
FROM 
    Creadores
WHERE
    Estilo = 'Anime' AND popularidad = (SELECT MAX(popularidad) FROM Creadores)
    limit 1

1 rows affected.

[(17, 'Lisa')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [31]:
%%sql
/*Con el join unimos las tablas NFT y Precio_NFT y utilizando el group con el count tendremos la cantidad de precios que han 
tenido los nft 
*/

select nombre as NFT, count(*) as Cantidad_de_precios from Precio_NFT
Inner Join NFT On Precio_NFT.id_nft = NFT.id_nft
GROUP BY nombre
order by count(*) desc

 * postgresql://postgres:***@localhost:5432/postgres
122 rows affected.

[('Light Embrace', 8),
 ('Cryptonaut', 7),
 ('Women Power', 6),
 ('Crypto Kitties', 5),
 ('Bitsy', 5),
 ('Butterfly Dust', 5),
 ('Atollon Coral', 5),
 ('Touchdown', 5),
 ('Elite Fur Dog Race Club', 5),
 ('Calm Crows', 5),
 ('Rainbows Ends', 5),
 ('Dapper Dinos', 4),
 ('Flame Cats', 4),
 ('Krypto Queen', 4),
 ('Crypto Boom', 4),
 ('NFT Lord', 4),
 ('Mint Chocolates', 4),
 ('Spells of Genesis', 4),
 ('Blizz Blizzard', 4),
 ('Sphere Art', 4),
 ('Non Fungible Nibbles', 4),
 ('Lucky Lizards', 4),
 ('Cyberboxer', 4),
 ('Couch Potato', 4),
 ('Cryptokitty Ville', 4),
 ('Ultra Cool Dogs', 3),
 ('Darker Clouds', 3),
 ('Fight For The Title', 3),
 ('United Crypto Token (UCT)', 3),
 ('Digital Unicorns', 3),
 ('Arty Arts', 3),
 ('0NOCH0', 3),
 ('The Binary Girl', 3),
 ('Visionary Crypto', 3),
 ('Depressed Dragons', 3),
 ('Rich Rhinos', 3),
 ('Reflected Light', 3),
 ('Giant Coin', 3),
 ('Aliens Abduction', 3),
 ('Crypto Kitties Of War', 3),
 ('The Teacup Pomeranian', 3),
 ('Bloom of Flowers', 3),
 ('Alice Wonderland Frozen Carolers', 3),
 ('Water Wiggle', 3),
 ('Healthy Hedgehogs', 3),
 ('Crypto Club', 3),
 ('To The Moon', 3),
 ('Madame Witch', 3),
 ('Crypto Life', 3),
 ('Fair Coin', 3),
 ('Crypto Pigeon Race', 3),
 ('Elephant Treasure Hunt', 2),
 ('Addictive Animals', 2),
 ('Animated Hard Art', 2),
 ('Token Watchdogs', 2),
 ('Tokenized Superheroes', 2),
 ('Anna Frozen Entertainers', 2),
 ('Crystalline Canyon', 2),
 ('Crypto Jackpot', 2),
 ('Flame Stinger', 2),
 ('Futuristic Realism', 2),
 ('Pandamonium', 2),
 ('Graceful Gorillas', 2),
 ('3D Me', 2),
 ('Rockin Crypto', 2),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Moonlit Butterfly', 2),
 ('Koalas in Love', 2),
 ('Crypto Bunny Ranch', 2),
 ('Hilarious Horses', 2),
 ('Crypto Diamonds', 2),
 ('Koala Kickers', 2),
 ('Flame Blade', 2),
 ('Dose of Art', 2),
 ('Artificial Rocks', 2),
 ('Pink Sports Cars', 2),
 ('Wowoo World', 2),
 ('Crypto Art Gallery', 2),
 ('Midas NFTs', 2),
 ('Nova Auroras', 2),
 ('0xHile', 2),
 ('Cards of Polo', 2),
 ('Funny Frogs', 2),
 ('0NOZER0', 2),
 ('Meteorite NFT', 2),
 ('Dark Horse Lady', 1),
 ('Bit NFT', 1),
 ('Awesome Concept', 1),
 ('Artful Antlers', 1),
 ('Phonetic Phoenix', 1),
 ('Art Rumble', 1),
 ('Dust Sifter', 1),
 ('Crypto Raptors', 1),
 ('Doge Pal', 1),
 ('Brush Point', 1),
 ('Panther NFT', 1),
 ('Dust Rift', 1),
 ('Clever Chimp', 1),
 ('Qat Tree Unicorn', 1),
 ('Digi Gods', 1),
 ('The Gold Betta', 1),
 ('Resilient Rats', 1),
 ('Headed Shark Attack', 1),
 ('Enthusiastic Elephants', 1),
 ('Outstanding Octopus', 1),
 ('Coin Dance', 1),
 ('Block View', 1),
 ('Art Lover Box', 1),
 ('White Storm', 1),
 ('Crumbs NFT', 1),
 ('Fight Punks', 1),
 ('Crypto Punked', 1),
 ('Busy Bats', 1),
 ('1NiTRO', 1),
 ('Ultimate League Of Paragon', 1),
 ('Crypto Potato', 1),
 ('Clumsy Crocodiles', 1),
 ('Silver Lining Pixy', 1),
 ('Secret Stones', 1),
 ('Fantasy Token', 1),
 ('Bee Token', 1),
 ('Dreamy Imaginations', 1)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso es el nombre del NFT y el Estilo. A partir de la tabla PRECIO_NFT, ingresamos a las tablas NFT y Creadores mediante
un INNER JOIN. Posteriormente, agregamos una condicional de que debemos seleccionar el máximo precio (más caro) para finalmente poner solo el primer elemento encontrado gracias al limit 1.
*/

SELECT
    NFT.nombre, Tipos_NFT.nombre, Precio_NFT.precio 
FROM Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
                INNER JOIN Tipos_NFT ON NFT.Id_tipo = Tipos_NFT.ID_tipo
WHERE precio = (SELECT MAX(precio) FROM Precio_NFT )
limit 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Crypto Pigeon Race', 'Juegos', 99324)]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [48]:
%%sql
/* la SUBTABLA tendra los usuarios con la cantidad de nfts que poseen, las cuales se ordenarán de forma descendiente con un limit 1 y la
tabla es la subtabla sin el count*/

SELECT nombre, apellido from(
SELECT nombre,apellido, COUNT( (nombre,apellido) )
FROM  Usuario_tiene_NFT 
Inner Join Usuarios On Usuario_tiene_NFT.id_usuario = Usuarios.id_usuario
GROUP BY (nombre,apellido)
order by COUNT( (nombre,apellido)) desc 
limit 1 ) as SUBTABLA

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Mattie', 'Mcaninch')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso son los ID y el nombre del NFT, posteriormente desde la tabla Precio_NFT, ingresamos a las tablas NFT 
y Tipos_NFT mediante un INNER JOIN, luego agrupamos los datos mediante un GROUP BY ordenándolos de manera descendiente respecto a la cantidad de ID_nft, para finalmente poner solo el 
primer elemento encontrado gracias al limit 1. */

SELECT 
    NFT.ID_nft, NFT.nombre
FROM Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
                INNER JOIN Tipos_NFT ON NFT.id_tipo = Tipos_NFT.ID_tipo          
GROUP BY NFT.nombre, NFT.ID_nft
order by count(NFT.ID_nft) desc
limit 1

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [26]:
%%sql
/* utilizando el left join con Usuario y Usuario_tiene_NFt se podra ver toda la tabla de usuarios sin importar si tienen o no
 tienen un id_usuario en Usuario_tiene_NFT haci que simplemente se considerara con el where los usuarios que tengan nulo el
 id_nft */
 
SELECT nombre,apellido
FROM  Usuarios 
Left Join Usuario_tiene_NFT On Usuarios.id_usuario = Usuario_tiene_NFT.id_usuario
where id_nft is null

 * postgresql://postgres:***@localhost:5432/postgres
131 rows affected.

[('Tyrone', 'Wait'),
 ('Barbara', 'Highland'),
 ('William', 'Wissinger'),
 ('Michael', 'Doss'),
 ('William', 'Moreno'),
 ('Beatrice', 'Tracey'),
 ('Dorothy', 'Fultz'),
 ('Clarence', 'Arellano'),
 ('John', 'Kawachi'),
 ('Harry', 'Combs'),
 ('Steven', 'Blow'),
 ('Margaret', 'Rucker'),
 ('Joann', 'Johnson'),
 ('Paul', 'Burke'),
 ('William', 'Flemmons'),
 ('Donna', 'Steele'),
 ('Lisa', 'Lenz'),
 ('Timothy', 'Thomas'),
 ('Charles', 'Radabaugh'),
 ('Pedro', 'Jones'),
 ('Fannie', 'Dyke'),
 ('Lucas', 'Beauvais'),
 ('John', 'Mclean'),
 ('Geraldine', 'Rybij'),
 ('Walter', 'Sullivan'),
 ('Dannielle', 'Bailey'),
 ('Jeremy', 'Anderson'),
 ('Pamela', 'Lang'),
 ('Sharon', 'Capellan'),
 ('Mike', 'Campbell'),
 ('Steve', 'Jensen'),
 ('Teresa', 'Forrest'),
 ('Brandon', 'Walker'),
 ('Latosha', 'Foltz'),
 ('Alanna', 'Soukup'),
 ('Charles', 'Mcvey'),
 ('Anna', 'Brown'),
 ('Tod', 'England'),
 ('Douglas', 'Morger'),
 ('Florence', 'Stinson'),
 ('Herbert', 'Stewart'),
 ('Jana', 'Wilcox'),
 ('Charles', 'Pickens'),
 ('Maudie', 'Cianfrini'),
 ('Ryan', 'Halsey'),
 ('Gladys', 'Hutchinson'),
 ('Juanita', 'Pemberton'),
 ('Alexis', 'Trevino'),
 ('Mario', 'Ramirez'),
 ('Andrew', 'Hund'),
 ('Brent', 'Taylor'),
 ('Jack', 'Miller'),
 ('Shannon', 'Rosenfield'),
 ('Lillian', 'Reedy'),
 ('Lisa', 'Ardizzone'),
 ('Juanita', 'Winkle'),
 ('Debrah', 'Ferguson'),
 ('Bruce', 'Hogue'),
 ('Emily', 'Gonzalea'),
 ('Glen', 'Branscum'),
 ('Trudy', 'Alexander'),
 ('Sherri', 'Cervantes'),
 ('Peggy', 'Zink'),
 ('John', 'Gladney'),
 ('Helen', 'Julian'),
 ('Herbert', 'Lane'),
 ('Lucy', 'Torres'),
 ('Samuel', 'Somerville'),
 ('Leah', 'Young'),
 ('Richard', 'Mccourt'),
 ('Charles', 'Mccullough'),
 ('Willie', 'Brown'),
 ('Kimberly', 'Melendez'),
 ('James', 'Caddle'),
 ('Roberto', 'Perego'),
 ('Ruth', 'Kelly'),
 ('Chase', 'Henry'),
 ('Eric', 'Garcia'),
 ('Caryl', 'Salamanca'),
 ('James', 'Flannery'),
 ('James', 'Nelson'),
 ('Jeffery', 'Walden'),
 ('Raymond', 'Kirchner'),
 ('James', 'Lawrence'),
 ('James', 'Kimes'),
 ('Christina', 'Mendell'),
 ('Suzanne', 'Patterson'),
 ('Angel', 'Craig'),
 ('David', 'Rousseau'),
 ('Margot', 'Ash'),
 ('Paul', 'Silver'),
 ('Mary', 'Garrett'),
 ('William', 'Beasley'),
 ('Gregory', 'Morin'),
 ('John', 'Carbone'),
 ('Gerald', 'Gilder'),
 ('Gloria', 'Jones'),
 ('David', 'Broderick'),
 ('David', 'Grant'),
 ('Cary', 'Calhoun'),
 ('Ronald', 'Schlesener'),
 ('Beatrice', 'Burton'),
 ('Mary', 'Mcalister'),
 ('Della', 'Smith'),
 ('Whitney', 'Hurla'),
 ('Brenton', 'Lescarbeau'),
 ('Crystal', 'Schill'),
 ('Kenneth', 'Dillis'),
 ('Juanita', 'Mitchell'),
 ('David', 'Dery'),
 ('Brittany', 'Hauser'),
 ('Glenn', 'Ramirez'),
 ('Cynthia', 'Keithley'),
 ('Dustin', 'Meagher'),
 ('Marie', 'Hudson'),
 ('Wesley', 'Andrade'),
 ('Robert', 'Sams'),
 ('Michael', 'Bruce'),
 ('Wilburn', 'Soucier'),
 ('Janice', 'Saunders'),
 ('Shelley', 'Eugene'),
 ('Marilyn', 'Clark'),
 ('Ashley', 'Frazier'),
 ('Andre', 'Hernandez'),
 ('Vivian', 'Pontiff'),
 ('Sol', 'Griggs'),
 ('Lewis', 'Oliver'),
 ('Travis', 'Perryman'),
 ('Kraig', 'Fritts'),
 ('Nancy', 'Peterson'),
 ('Frank', 'Magar')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
/*Cada subtabla guardara la fecha maxima, una con nombre y otra con precio despues se juntan las tablas con
un Inner Join quedando agrupados el nombre,precio,fechamax y simplemente conservamos los nombres ordenados
por el precio de mayor a menor*/

select nombre as NFT from (
-- Subtabla que contiene el nombre y la fecha max
SELECT nombre,max(fecha) FROM  NFT 
Inner Join Precio_NFT On NFT.id_nft = Precio_NFT.id_nft 
where id_tipo=1 --id_tipo X
group by nombre) as Fecha_nombre

Inner Join (
-- Subtabla que contiene el precio y la fecha max
SELECT precio,max(fecha) FROM  NFT 
Inner Join Precio_NFT On NFT.id_nft = Precio_NFT.id_nft 
where id_tipo=1 --id_tipo X
group by precio) as Fecha_precio

On Fecha_nombre.max = Fecha_precio.max
order by precio desc
limit 4

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Animated Hard Art',),
 ('Panther NFT',),
 ('Crypto Kitties Of War',),
 ('Doge Pal',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [7]:
%%sql
/* Seleccionamos las variables a utilizar, que son los NFT y el precio de cada NFT, posteriormente desde la tabla NFT, ingresamos a la tabla de Precio_NFT a través de un INNER JOIN 
y consultamos por los precios de los NFT que se encuentren en el intervalo de fecha requerido mediante un BETWEEN */

SELECT
    NFT.nombre,PRECIO_NFT.precio  
FROM 
    NFT INNER JOIN Precio_NFT ON Precio_NFT.ID_nft = NFT.ID_nft
WHERE
    PRECIO_NFT.fecha BETWEEN '2017-01-01 00:00:00' AND '2019-12-31 23:59:59'

 * postgresql://postgres:***@localhost:5432/postgres
115 rows affected.

[('Anna Frozen Entertainers', 72637),
 ('Headed Shark Attack', 67377),
 ('Pink Sports Cars', 72662),
 ('Minecraft Sphere', 55021),
 ('Burger Bits', 59553),
 ('Clumsy Crocodiles', 1101),
 ('Dark Horse Lady', 98826),
 ('Krypto Queen', 47246),
 ('Wowoo World', 37695),
 ('Depressed Dragons', 44947),
 ('Depressed Dragons', 21194),
 ('Atollon Coral', 22991),
 ('Mountain of Clouds', 48176),
 ('Atollon Coral', 86002),
 ('To The Moon', 38537),
 ('Crypto Raptors', 77245),
 ('0NOCH0', 25724),
 ('Alice Wonderland Frozen Carolers', 27060),
 ('Flame Cats', 72994),
 ('3D Me', 32187),
 ('Phonetic Phoenix', 86295),
 ('Ultimate Iconic Crypto (IUC)', 45361),
 ('Darker Clouds', 59658),
 ('Crypto Club', 61730),
 ('Alice Wonderland Frozen Carolers', 75861),
 ('Cryptonaut', 65467),
 ('Spells of Genesis', 53638),
 ('Touchdown', 95064),
 ('Atollon Coral', 98799),
 ('Thunder NFT', 77089),
 ('Artificial Rocks', 4319),
 ('Fight Punks', 65244),
 ('Ultimate Iconic Crypto (IUC)', 74729),
 ('Phonetic Phoenix', 26730),
 ('Nova Auroras', 74729),
 ('Artificial Rocks', 44589),
 ('Touchdown', 15902),
 ('Cypherpunk Samurai', 54159),
 ('0xHile', 89654),
 ('Bling Bits', 43877),
 ('Block View', 13808),
 ('Bloom of Flowers', 4353),
 ('Dose of Art', 87534),
 ('Crypto Kitties Of War', 68459),
 ('Phonetic Phoenix', 13563),
 ('Light Embrace', 61886),
 ('To The Moon', 70078),
 ('Pandamonium', 47165),
 ('Awesome Concept', 91079),
 ('Graceful Gorillas', 65439),
 ('Dust Sifter', 13593),
 ('Crypto Boom', 92838),
 ('Depressed Dragons', 66181),
 ('Thunder NFT', 53159),
 ('Awesome Concept', 19234),
 ('0NOZER0', 79453),
 ('Dust Rift', 56923),
 ('Crypto Jackpot', 26704),
 ('Sphere Art', 50815),
 ('Koalas in Love', 82071),
 ('Artful Antlers', 84897),
 ('Nova Auroras', 74408),
 ('Cards of Polo', 77503),
 ('Art Dodger', 66876),
 ('Block View', 13267),
 ('Touchdown', 71385),
 ('The Gold Betta', 51970),
 ('Mountain of Clouds', 33480),
 ('Fantasy Token', 27026),
 ('Doge Pal', 28311),
 ('Crypto Kitties', 53616),
 ('1NiTRO', 53973),
 ('0NOZER0', 38943),
 ('Block View', 75868),
 ('Midas NFTs', 31159),
 ('Qat Tree Unicorn', 58864),
 ('Block View', 16144),
 ('Moonlit Butterfly', 77230),
 ('1-Love', 88234),
 ('Cards of Polo', 94601),
 ('Pink Sports Cars', 97849),
 ('Brush Point', 59067),
 ('Crypto Potato', 83554),
 ('Rockin Crypto', 12126),
 ('Coin Dance', 80337),
 ('0xHile', 69110),
 ('Techno Abstract Aesthetics', 31728),
 ('Elite Fur Dog Race Club', 48155),
 ('Art Lover Box', 1138),
 ('Flame Stinger', 15949),
 ('Coin Dance', 67480),
 ('Pink Sports Cars', 47632),
 ('Light Embrace', 67171),
 ('1-Love', 74249),
 ('Moonlit Butterfly', 19388),
 ('Animated Hard Art', 98181),
 ('Touchdown', 24479),
 ('Cypherpunk Samurai', 81783),
 ('Cryptonaut', 14620),
 ('Water Wiggle', 38054),
 ('Nova Auroras', 52369),
 ('Mint Chocolates', 36756),
 ('Women Power', 36079),
 ('Non Fungible Nibbles', 44152),
 ('Awesome Concept', 9852),
 ('Fantasy Token', 31033),
 ('NFT Lord', 88411),
 ('Fight For The Title', 39698),
 ('Secret Stones', 50752),
 ('Qat Tree Unicorn', 96840),
 ('Non Fungible Nibbles', 86722),
 ('Anna Frozen Entertainers', 94234),
 ('Ultimate League Of Paragon', 63697),
 ('Dreamy Imaginations', 47569),
 ('Touchdown', 74703)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [25]:
%%sql
/* La subtabla ID creadores quitara a los creadores que no le hayan comprado NFT utilizando el Left Join para tener valores
nulos, luego utilizando el group con el count obtendremos una lista ordenada de creadores que han vendido NFT y con el limit
simplemente conservara al primero*/

select nombre,apellido, count( (nombre,apellido)) as cantidad from
(SELECT id_creador 
FROM  NFT 
Left Join Usuario_tiene_NFT On NFT.id_nft = Usuario_tiene_NFT.id_nft
where id_usuario is not null) as IDcreadores

Inner Join Creadores On IDcreadores.id_creador = Creadores.id_creador
group by nombre,apellido
order by cantidad desc
limit 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Dorothy', 'Weathers', 10)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';