# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Daniel Villarroel Moraga - 202073028-8
* Luis González Vargas  - 202021002-0
* Álvaro Gaete Castillo - 202021003-9

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [5]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="password"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000002088734E460; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [42]:
%%sql

CREATE TABLE Usuarios (
    ID_usuario integer GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
    )

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Creadores"

In [43]:
%%sql
CREATE TABLE Creadores(
    ID_creador INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [44]:
%%sql
CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(20) NOT NULL 
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [45]:
%%sql
CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [46]:
%%sql
CREATE TABLE PRECIO_NFT(
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,
    PRIMARY KEY (ID_nft,fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [47]:
%%sql
CREATE TABLE usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario,id_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT (id_nft)
)

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [47]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso es el ID del creador y su nombre (este nombre está concatenado con el apellido), luego agregamos una condicional de que el
Estilo debe ser X, que en este caso en particular le pusimos Anime (dicho valor puede ser cambiado), y luego agregamos que la popularidad debe ser la máxima encontrada gracias a la función
MAX, para que finalmente nos dé el valor con mayor popularidad. Finalmente, ponemos solo el primer elemento encontrado gracias al limit 1.*/

SELECT
    ID_creador, (nombre||' '||apellido) AS Creador
FROM 
    Creadores
    GROUP BY ID_creador,nombre,apellido
HAVING
    Estilo = 'Anime' AND popularidad = MAX(popularidad)
    limit 1

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/*Con el join unimos las tablas NFT y Precio_NFT y utilizando el group con el count tendremos la cantidad de precios que han 
tenido los nft 
*/

select nombre as NFT, count(*) as Cantidad_de_precios from Precio_NFT
Inner Join NFT On Precio_NFT.id_nft = NFT.id_nft
GROUP BY nombre
order by count(*) desc

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso es el nombre del NFT y su tipo. A partir de la tabla PRECIO_NFT, ingresamos a las tablas (NFT) y (Tipos_NFT) mediante
un INNER JOIN. Posteriormente, agregamos una condicional de que debemos seleccionar el máximo precio (más caro) para finalmente poner solo el primer elemento encontrado gracias al limit 1.
*/

SELECT
    NFT.nombre as NFT, Tipos_NFT.nombre as Tipo
FROM Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
                INNER JOIN Tipos_NFT ON NFT.Id_tipo = Tipos_NFT.ID_tipo
WHERE precio = (SELECT MAX(precio) FROM Precio_NFT )
limit 1

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* la SUBTABLA tendrá los usuarios con la cantidad de nfts, usando el inner join para conectar a las tablas (Usuario tiene NFT) 
 y (Usuarios), luego se ordenará de forma descendiente con un limit 1 y la tabla final es la subtabla ya creada pero con la diferencia de que no lleva el count*/

SELECT nombre, apellido from(
SELECT nombre,apellido, COUNT( (nombre,apellido) )
FROM  Usuario_tiene_NFT 
Inner Join Usuarios On Usuario_tiene_NFT.id_usuario = Usuarios.id_usuario
GROUP BY (nombre,apellido)
order by COUNT( (nombre,apellido)) desc 
limit 1 ) as SUBTABLA

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* Seleccionamos las variables a utilizar, que en este caso son los ID y el nombre del NFT, posteriormente desde la tabla Precio_NFT, ingresamos a las tablas NFT 
y Tipos_NFT mediante un INNER JOIN, luego agrupamos los datos mediante un GROUP BY ordenándolos de manera descendiente respecto a la cantidad de ID_nft, para finalmente poner solo el 
primer elemento encontrado gracias al limit 1. */

SELECT 
    NFT.ID_nft as ID , NFT.nombre as NFT
FROM Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
                INNER JOIN Tipos_NFT ON NFT.id_tipo = Tipos_NFT.ID_tipo          
GROUP BY NFT.nombre, NFT.ID_nft
order by count(NFT.ID_nft) desc
limit 1

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* utilizando el left join con Usuario y Usuario_tiene_NFt se podra ver toda la tabla de usuarios sin importar si tienen o no
 tienen un id_usuario en Usuario_tiene_NFT haci que simplemente se considerara con el where los usuarios que tengan nulo el
 id_nft */
 
SELECT nombre,apellido
FROM  Usuarios 
Left Join Usuario_tiene_NFT On Usuarios.id_usuario = Usuario_tiene_NFT.id_usuario
where id_nft is null

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/*Cada subtabla guardara la fecha maxima, una con nombre y otra con precio despues se juntan las tablas con
un Inner Join quedando agrupados el nombre,precio,fechamax y simplemente conservamos los nombres ordenados
por el precio de mayor a menor*/

select nombre as NFT from (
-- Subtabla que contiene el nombre y la fecha max
SELECT nombre,max(fecha) FROM  NFT 
Inner Join Precio_NFT On NFT.id_nft = Precio_NFT.id_nft 
where id_tipo=1 --id_tipo X
group by nombre) as Fecha_nombre

Inner Join (
-- Subtabla que contiene el precio y la fecha max
SELECT precio,max(fecha) FROM  NFT 
Inner Join Precio_NFT On NFT.id_nft = Precio_NFT.id_nft 
where id_tipo=1 --id_tipo X
group by precio) as Fecha_precio

On Fecha_nombre.max = Fecha_precio.max
order by precio desc
limit 4

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* Seleccionamos las variables a utilizar, que son los NFT y el precio de cada NFT, posteriormente desde la tabla NFT, ingresamos a la tabla de Precio_NFT a través de un INNER JOIN 
y consultamos por los precios de los NFT que se encuentren en el intervalo de fecha requerido mediante un BETWEEN */

SELECT
    NFT.nombre AS NFT,PRECIO_NFT.precio  
FROM 
    NFT INNER JOIN Precio_NFT ON Precio_NFT.ID_nft = NFT.ID_nft
WHERE
    PRECIO_NFT.fecha BETWEEN '2017-01-01' AND '2019-12-31'
ORDER BY PRECIO DESC

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/* La subtabla ID creadores quitara a los creadores que no le hayan comprado NFT utilizando el Left Join para tener valores
nulos, luego utilizando el group con el count obtendremos una lista ordenada de creadores que han vendido NFT y con el limit
simplemente conservara al primero*/

select nombre,apellido, count( (nombre,apellido)) as cantidad from
(SELECT id_creador 
FROM  NFT 
Left Join Usuario_tiene_NFT On NFT.id_nft = Usuario_tiene_NFT.id_nft
where id_usuario is not null) as IDcreadores

Inner Join Creadores On IDcreadores.id_creador = Creadores.id_creador
group by nombre,apellido
order by cantidad desc
limit 1

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
/*Seleccionamos las variables a utilizar, que son el nombre del nft y su precio. Se hizo una relación con la misma tabla de precio filtrada por la fecha mayor, luego se hace un Inner join
con la tabla creadores para sacar el nombre del creador. Finalmente se hace otro inner join con el resultado de la consulta anterior agrupado por nombre, mostrando el mayor precio.
Para finalizar, usamos la condicionante de que solamente muestre los nombres de los NFT que coincidan con el creador X, que en este caso en particular se puso como Casey*/

select   nft.nombre as NFT, p.precio as Valor
from precio_nft as p inner join (select max(fecha) as fecha from precio_nft group by id_nft ) as p2 on p.fecha=p2.fecha
inner join nft on p.id_nft=nft.id_nft
inner join creadores as c on NFT.id_creador=c.id_creador
inner join (select max(p.precio) as precio, c.nombre
from precio_nft as p inner join (select max(fecha) as fecha from precio_nft group by id_nft ) as p2 on p.fecha=p2.fecha
inner join nft on p.id_nft=nft.id_nft
inner join creadores as c on NFT.id_creador=c.id_creador
		  group by c.nombre) as f on c.nombre=f.nombre and f.precio=p.precio
where c.nombre like 'Casey' --creador X
order by  c.nombre
limit 1

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';